.container {
    display: flex;
    align-items: center;
    margin: 50px 0;
}

.card {
    /*sinse we have use material-ui, if we want to add below style, we need to use important*/
    margin: 0 2% !important;
}

.infected {
     /*rgba, the 'a' means the opacity*/
     border-bottom: 10px solid rgba(0, 0, 255, 0.5);
 }

.recovered {
    border-bottom: 10px solid rgba(0, 255, 0, 0.5);
}

.deaths {
    border-bottom: 10px solid rgba(255, 0, 0, 0.5);
}
