body {
    background-color: rgb(250, 250, 250);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    /*below codes can move the chart below the cards*/
    flex-direction: column;
}

